<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jmsoft.user.mybatis.LoginUserDao">

	<select id="list" resultType="hashMap" parameterType="com.jmsoft.user.vo.LoginUserVo">
		select 
			lur.id,
			lur.profile_img,
			lur.nick_name,
			lur.address,
			lur.update_time,
			lur.l_name,
			lur.certificate_no,
			lur.l_phone,
			lur.create_time,
			lur.l_status,
			lur.wx_open_id,
			lur.alipay_open_id,
			(select d_text from sys_dictionary where d_value = lur.l_sex and d_parent_token = 'DX001' and d_status = 0) as l_sex_str, 
			(select d_text from sys_dictionary where d_value = lur.certificate_type and d_parent_token = 'DX002' and d_status = 0) as certificate_type_str,
			lur.l_sex, 
			lur.certificate_type
		from login_user lur
		where lur.l_status != 2
		<if test="nickName != null and nickName != ''">
			and lur.nick_name like #{nickName}
		</if>
		<if test="address != null and address != ''">
			and lur.address like #{address}
		</if>
		<if test="name != null and name != ''">
			and lur.l_name like #{name}
		</if>
		<if test="phone != null and phone != ''">
			and lur.l_phone like #{phone}
		</if>
		<if test="certificateNo != null and certificateNo != ''">
			and lur.certificate_no like #{certificateNo}
		</if>
		<if test="sex != null and sex != ''">
			and lur.l_sex = #{sex}
		</if>
		<if test="certificateType != null and certificateType != ''">
			and lur.certificate_type = #{certificateType}
		</if>
		<if test="status != null">
			and lur.l_status = #{status}
		</if>
		order by lur.create_time desc
	</select>

</mapper>