<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>系统角色</title>
		<page-title>角色管理</page-title>
		<page-desc>角色信息维护</page-desc>
	</head>

	<body>

		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">操作栏</h3>
			</div>

			<div class="box-body form-horizontal">
				<div class="form-group col-sm-6">
					<label class="col-sm-2 control-label">角色名称</label>
					<div class="col-sm-8">
						<input type="text" v-model="param.name" class="form-control" placeholder="角色名称">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-2 control-label">描述信息</label>
					<div class="col-sm-8">
						<input type="text" v-model="param.remark" class="form-control" placeholder="描述信息">
					</div>
				</div>
			</div>

			<div class="box-footer">
				<button style="margin-right: 5px;" :class="btn.style" @click="actionBindClick(btn.clickAction)" v-for="btn in actions"><span :class="btn.icon"></span><span v-html="btn.text"></span></button>
			</div>
		</div>

		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">列表信息</h3>
			</div>

			<!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive mailbox-messages">
					<table class="table table-hover table-striped">
						<thead>
							<th>选择</th>
							<th>角色名称</th>
							<th>创建人</th>
							<th>创建时间</th>
							<th>描述信息</th>
							<th>状态</th>
						</thead>
						<tbody>
							<tr v-for="(info,index) in page.list" @click="clickRow(index)">
								<td>
									<i v-if="index == page.selected" style="font-size: 20px;color: #337ab7;" class="glyphicon glyphicon-check"></i>
									<i v-else style="font-size: 20px;" class="glyphicon glyphicon-unchecked"></i>
								</td>
								<td v-html="info.name"></td>
								<td v-html="info.createUserName"></td>
								<td v-html="info.createTime"></td>
								<td v-html="info.remark"></td>
								<td>
									<span class="label label-success" v-if="info.status == 0">正常</span>
									<span class="label label-warning"  v-if="info.status == 1">已停用</span>
								</td>
							</tr>
							<tr v-if="page.list == null || page.list.length == 0">
								<td :colspan="nodata.colspan" class="text-center" v-html="nodata.text"></td>
							</tr>
						</tbody>
					</table>
					<!-- /.table -->
				</div>
			</div>
			<div class="box-footer" v-if="page.list != null && page.list.length > 0">
				<div class="row">
					<div class="col-md-6 pull-left">
						共<span class="text-light-blue" v-html="page.total"></span>条&nbsp;显示<span class="text-light-blue" v-html="page.startRow"></span> 到
						<span v-html="page.endRow" class="text-light-blue"></span> &nbsp;每页显示
						<select v-model="param.pageSize" @change="changePageSize()">
							<option value="10">10</option>
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="200">200</option>
						</select>
						条记录&nbsp;共<span v-html="page.pages" class="text-light-blue"></span>页
					</div>
					<div class="col-md-6">
						<ul class="pagination pagination-sm no-margin pull-right">
							<li>
								<a href="javascript:;" @click="toPage(1)">首页</a>
							</li>
							<li>
								<a href="javascript:;" @click="toPage(page.prePage)">上一页</a>
							</li>
							<li v-for="number in page.navigatepageNums" :class="page.pageNum == number?'active':''">
								<a href="javascript:;" @click="toPage(number)" v-html="number"></a>
							</li>
							<li>
								<a href="javascript:;" @click="toPage(page.nextPage)">下一页</a>
							</li>
							<li>
								<a @click="toPage(page.navigateLastPage)" href="javascript:;">尾页</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="editModel" style="display: none;padding-top: 10px;" class="col-sm-12 form-horizontal">
			
			<div class="form-group"><label class="col-sm-3 control-label">名称<span class="text-red">*</span></label>
				<div class="col-sm-9"><input type="text" placeholder="角色名称" class="form-control" v-model="editData.name"></div>
			</div>
			<div class="form-group"><label class="col-sm-3 control-label">角色描述<span class="text-red">*</span></label>
				<div class="col-sm-9"><input type="text" placeholder="角色描述" class="form-control" v-model="editData.remark"></div>
			</div>
		</div>
		<div id="resourceModel" style="display: none;padding-top: 20px;">
			<div class="col-xs-12">
				<ul id="resourceUl" style="min-height: 260px;" class=" ztree" role="tree"></ul>
			</div>
		</div>
		<script src="plugins/js/role.js"></script>
	</body>

</html>