<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jm.user.mybatis.ListDao">

	<select id="roleList" resultType="hashMap" parameterType="com.jm.user.entity.AdminRole">
		SELECT
			sre.*, sur.nick_name AS createUserName
		FROM
			admin_role sre,
			admin_user sur
		WHERE
			sur.id = sre.create_user_id
		AND sre.r_status in (0,1)
		<if test="name != null and name != ''">
			and sre.r_name like #{name}
		</if>
		<if test="remark != null and remark != ''">
			and sre.r_remark like #{remark}
		</if>
		order by create_time desc
	</select>

	<select id="sysUserList" resultType="hashMap" parameterType="com.jm.user.entity.AdminUser">
		SELECT
			sur.*, sur_c.u_name AS createUserName,
			sre.r_name AS roleName
		FROM
			sys_user sur,
			sys_role sre,
			sys_user sur_c
		WHERE
			sur.u_create_user_id = sur_c.id
		AND sre.id = sur.u_role_id
		and sur.u_status != 2
		and sur.u_is_admin = #{isAdmin}
		<if test="roleId != null and roleId != ''">
			and sre.id = #{roleId}
		</if>
		<if test="createUserName != null and createUserName != ''">
			and sre.r_name like #{createUserName}
		</if>
		<if test="status != null">
			and sur.u_status = #{status}
		</if>
		<if test="loginName != null and loginName != ''">
			and sur.u_login_name like #{loginName}
		</if>
		<if test="name != null and name != ''">
			and sur.u_name like #{name}
		</if>
		order by sur.u_create_time desc
	</select>
	
	<select id="webUserList" resultType="hashMap" parameterType="com.jm.user.vo.AdminUserVo">
		select aur.*,are.r_name as roleName from admin_user aur,admin_role are where are.id = aur.role_id and aur.u_status in (0,1)
		<if test="nickName != null and nickName != ''">
			and aur.nick_name like #{nickName}
		</if>
		<if test="loginName != null and loginName != ''">
			and aur.login_name like #{loginName}
		</if>
		<if test="phone != null and phone != ''">
			and aur.phone like #{phone}
		</if>
		<if test="roleName != null and roleName != ''">
			and are.r_name like #{roleName}
		</if>
		order by aur.createtime desc
	</select>

</mapper>