<html>

	<head>
		<meta charset="UTF-8">
		<title>字典管理</title>
		<page-title>字典管理</page-title>
		<page-desc>字典信息维护</page-desc>
	</head>

	<body>

		<div class="row">
			<div class="col-sm-4">
				<div class="box box-success ">
					<div class="box-header with-border">
						<h3 class="box-title">字典信息</h3>
						<div class="pull-right box-tools">
							<button style="margin-left: 3px;" :title="action.text" v-for="action in actionList" :class="action.style" @click="methodBind" :click-key="action.clickAction"><i :class="action.icon"></i></button>
						</div>
					</div>

					<div class="box-body">
						<ul id="dictionaryUl" style="min-height: 200px;" class=" ztree" role="tree"></ul>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">操作栏
							<span v-if="updateData.edit">---</span>
							<span v-if="updateData.action==1">编辑</span>
							<span v-if="updateData.action==2">新增</span>
						</h3>
					</div>

					<div class="box-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 字典名称<span class="text-red">*</span> </label>
								<div class="col-sm-9">
									<input placeholder="字典名称" :readonly="!updateData.edit" v-model="updateData.text" class="col-sm-12 form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 英文名称 <span class="text-red">*</span></label>
								<div class="col-sm-9">
									<input placeholder="英文名称" :readonly="!updateData.edit" v-model="updateData.enText" class="col-sm-12 form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> token<span class="text-red">*</span> </label>
								<div class="col-sm-9">
									<input placeholder="token校验码" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.token" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 值 <span class="text-red">*</span></label>
								<div class="col-sm-9">
									<input placeholder="值" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.value" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"> 排序 </label>
								<div class="col-sm-9">
									<input placeholder="排序" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.sort" type="number">
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<button :disabled="!updateData.edit" @click="saveInfo" type="button" class="btn btn-sm btn-success">
											保存
											<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
										</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="plugins/js/dictionary.js"></script>

</html>