<!DOCTYPE html>
<html>

	<head>
		<title>个人中心</title>
		<page-title>个人中心</page-title>
		<page-desc>我的信息(点击头像可修改)</page-desc>
	</head>

	<body>
		<link rel="stylesheet" href="./dist/css/profile.css">
		<div class="row">
			<div class="col-md-3">

				<!-- Profile Image -->
				<div class="box box-primary">
					<div class="box-body box-profile">
						<img onclick="selectProfile()" class="profile-user-img img-responsive img-circle" :src="(userInfo.headPortrait != null && userInfo.headPortrait.length > 5) ? userInfo.headPortrait : './dist/img/profile.jpg' " alt="我的头像">

						<h3 class="profile-username text-center" v-html="userInfo.nickName"></h3>

						<p class="text-muted text-center" v-html="userInfo.roleName?userInfo.roleName:'无'"></p>

						<ul class="list-group list-group-unbordered">
							<li class="list-group-item">
								<b>登录次数</b>
								<a href="javascript:;" class="pull-right" v-html="loginData.loginCount"></a>
							</li>
							<li class="list-group-item">
								<b>最近登录时间</b>
								<a href="javascript:;" class="pull-right" v-html="userInfo.lastLoginTime"></a>
							</li>
						</ul>

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<!-- About Me Box -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">我的资料</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<strong><i class="fa fa-location-arrow margin-r-5"></i>&nbsp;&nbsp;地址</strong>
						<p class="text-muted" v-html="userInfo.address"></p>
						<hr>

						<strong><i class="glyphicon glyphicon-earphone margin-r-5"></i>&nbsp;&nbsp;电话</strong>
						<p v-html="userInfo.phone"></p>

						<hr>
						<strong><i class="fa fa-book margin-r-5"></i>&nbsp;&nbsp;简介</strong>
						<p class="text-muted" v-html="userInfo.intro"></p>

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
			<div class="col-md-9">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li :class="(showTag == 'loginrecord' ? 'active' : '')">
							<a href="javascript:;" @click="showTagClick('loginrecord')" data-toggle="tab">登录记录</a>
						</li>
						<li :class="(showTag == 'updatePwd' ? 'active' : '')">
							<a href="javascript:;" @click="showTagClick('updatePwd')" data-toggle="tab">密码修改</a>
						</li>
						<li :class="(showTag == 'settings' ? 'active' : '')">
							<a href="javascript:;" @click="showTagClick('settings')" data-toggle="tab">资料设置</a>
						</li>
					</ul>
					<div class="tab-content">
						<div :class="'tab-pane' + (showTag == 'loginrecord' ? 'active' : '')">
							<!-- Post -->
							<div class="post" v-for="info in loginData.page.list">
								<div class="">
									<span>
			                          <strong>登录IP</strong>
			                          <span class="pull-right btn-box-tool label pull-right bg-gray"><i class="fa fa-clock-o"></i><span v-html="info.loginTime"></span></span>
									</span>
									<span class="description " v-html="info.loginIp"></span>
								</div>
							</div>
							<div class="post">
								<button type="button" class="btn btn-default btn-block" v-if="loginData.page.hasNextPage" @click="nextLoginLogPage()">加载更多</button>
								<h5 v-else class="text-center">没有更多了</h5>
							</div>
						</div>
						<!-- /.tab-pane -->
						<div :class="'tab-pane' + (showTag == 'updatePwd' ? 'active' : '')" id="updatePwd">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">原密码<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="password" v-model="subParam.update_password.old_password" class="form-control" placeholder="原密码">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">新密码<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="password" class="form-control" v-model="subParam.update_password.new_password" placeholder="密码必须包含字母和数字或特殊字符并且长度大于8位">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">确认密码<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="password" class="form-control" v-model="subParam.update_password.new_password1" placeholder="确认密码">
									</div>
								</div>
								<div class="form-group" v-if="subParam.update_password.err_msg.length > 0">
									<div class="col-sm-offset-2 col-sm-10 text-red">*<span v-html="subParam.update_password.err_msg"></span></div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button @click="updatePwdAction()" class="btn btn-danger">修改密码</button>
									</div>
								</div>
							</div>
						</div>

						<div :class="'tab-pane' + (showTag == 'settings' ? 'active' : '')" id="settings">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">我的名称<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="subParam.profile.nickName" placeholder="请输入名称">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">联系地址<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="subParam.profile.address" placeholder="请输入联系地址">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">联系电话<span class="text-red">*</span></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="subParam.profile.phone" placeholder="请输入联系电话">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">个人简介</label>
									<div class="col-sm-10">
										<input class="form-control" v-model="subParam.profile.intro" placeholder="个人简介信息" />
									</div>
								</div>
								<div class="form-group" v-if="subParam.profile.err_msg.length > 0">
									<div class="col-sm-offset-2 col-sm-10 text-red">*<span v-html="subParam.profile.err_msg"></span></div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button @click="profileAction" class="btn btn-success">保存资料</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div id="selectProfileModel" style="display: none;padding-top: 10px;">
			<input type="file" name="file" id="selectImgFileInput" accept="image/*" style="display: none;" onchange="initSelect();">
			<div class="col-md-12">
				<div class="col-md-8">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">选择头像</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-sm btn-info" onclick="$('#selectImgFileInput').click()">选择图片</button>
							</div>
						</div>
						<div class="box-body row">
							<img id="imageTemp" alt="未选择" style="display: none;">
							<div class="col-sm-12" id="localImag">

							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">头像预览</h3>
						</div>
						<div class="box-body row">
							<div class="col-sm-12" id="localImag">
								<div class="preview"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<script type="text/javascript" src="plugins/js/profile.js"></script>
</html>