<head>
	<meta charset="UTF-8">
	<title>资源管理</title>
	<page-title>资源管理</page-title>
	<page-desc>系统资源管理</page-desc>
</head>

<body>
	<div class="row">

		<div class="col-md-4">

			<div class="box box-success ">
				<div class="box-header with-border">
					<h3 class="box-title">资源信息</h3>
					<div class="pull-right box-tools">
						<button style="margin-left: 3px;" :title="action.text" v-for="action in actionList" :class="action.style" @click="methodBind" :click-key="action.clickAction"><i :class="action.icon"></i></button>
					</div>
				</div>

				<div class="box-body">
					<ul id="resourceUl" style="min-height: 260px;" class=" ztree" role="tree"></ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">操作栏
							<span v-if="updateData.edit">---</span>
							<span v-if="updateData.action==1">编辑</span>
							<span v-if="updateData.action==2">新增</span></h3>
				</div>

				<div class="box-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> 资源名称<span class="text-red">*</span> </label>
							<div class="col-sm-9">
								<input placeholder="资源名称" :readonly="!updateData.edit" v-model="updateData.text" class="col-sm-12 form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> 资源图标<span class="text-red">*</span> </label>
							<div class="col-sm-9">
								<input placeholder="资源图标" :readonly="!updateData.edit" v-model="updateData.icon" class="col-sm-12 form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> 资源描述 </label>
							<div class="col-sm-9">
								<input placeholder="资源描述" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.intro" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> url </label>
							<div class="col-sm-9">
								<input placeholder="url" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.url" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> 排序 </label>
							<div class="col-sm-9">
								<input placeholder="排序" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.sort" type="number">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"> 资源类型 <span class="text-red">*</span></label>
							<div class="col-sm-9">
								<select placeholder="资源类型" :disabled="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.type">
									<option value="">选择资源类型</option>
									<option value="0">菜单</option>
									<option value="1">按钮</option>
								</select>
							</div>
						</div>
						<div class="form-group" v-if="updateData.type==1">
							<label class="col-sm-2 control-label no-padding-right"> 点击事件 </label>
							<div class="col-sm-9">
								<input placeholder="点击事件" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.clickAction" type="text">
							</div>
						</div>
						<div class="form-group" v-if="updateData.type==1">
							<label class="col-sm-2 control-label no-padding-right"> 资源样式 </label>
							<div class="col-sm-9">
								<input placeholder="资源样式" :readonly="!updateData.edit" class="col-sm-12 form-control" v-model="updateData.style" type="text">
							</div>
						</div>

					</div>
				</div>
				<div class="box-footer">
					<button :disabled="!updateData.edit" @click="saveInfo" type="button" class="btn btn-sm btn-success">保存	<i class="fa fa-arrow-right icon-on-right bigger-110"></i>
			</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="plugins/js/resource.js"></script>